.footer {

    background: #1B3A2A;

    padding: 70px 8% 30px;

    text-align: center;

    color: white;

}



/* LOGO CENTRAL */

.logo-footer {

    width: 140px;

    height: auto;

    margin-bottom: 25px;

}



/* FRASE */

.frase-footer {

    max-width: 650px;

    margin: 0 auto 35px;

    color: #ddd;

    font-size: 1.1rem;

    line-height: 1.8;

    font-style: italic;

}



/* REDES SOCIAIS */

.redes-footer {

    display: flex;

    justify-content: center;

    align-items: center;

    gap: 25px;

    margin-bottom: 40px;

}



.redes-footer img {

    width: 45px;

    height: 45px;

    object-fit: contain;

    transition: 0.3s;

}



.redes-footer img:hover {

    transform: scale(1.15);

}



/* MENU */

.menu-footer {

    display: flex;

    justify-content: center;

    align-items: center;

    flex-wrap: wrap;

    gap: 25px;

    margin-bottom: 35px;

}



.menu-footer a {

    color: #D4AF37;

    text-decoration: none;

    font-size: 1rem;

    transition: 0.3s;

}



.menu-footer a:hover {

    letter-spacing: 1px;

    color: #f0d77a;

}



/* LINHA DOURADA */

.linha-footer {

    width: 80%;

    height: 1px;

    background: #D4AF37;

    margin: 30px auto;

}



/* COPYRIGHT */

.copyright {

    color: #ccc;

    font-size: 0.9rem;

}



/* RESPONSIVO */

@media(max-width:600px) {


    .footer {

        padding: 60px 5% 25px;

    }



  .logo-footer {

    width: 220px;

    max-width: 80%;

    height: auto;

    margin-bottom: 30px;

    filter: drop-shadow(0 0 15px rgba(212,175,55,0.25));

}


    .frase-footer {

        font-size: 1rem;

    }



    .menu-footer {

        flex-direction: column;

        gap: 15px;

    }



    .redes-footer img {

        width: 40px;

        height: 40px;

    }


}